---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Projects page

heading: About us
heading_lead: Who we are and where we work
---

{% include nav-desktop.html %}

{% include sections/page-heading.html %}

<hr class="vdivider sm">

<div class="container content">
	<div class="row">
		<div class="col-md-8">
			<p>
				The  <strong>eV Relief Committee "Emergency Assistance"</strong>  an auxiliary is for widows and orphans, poor and needy (mainly in countries of the former USSR) are used. It was founded by like-minded Christians who want to help the needy with deep conviction in God's love. The Leitvers of the service are Jesus' words from the Sermon on the Mount:
			</p>
			<blockquote>
				So let your light shine before men, that they may see your good deeds and praise your Father in heaven. Frosted. 5.16
			</blockquote>

			<p>
				The association was founded in Buchholz on 02/12/2006. The association is based now Pohlheim. The Fund is not a state-funded organization but is supported by voluntary donors. Since we our info sheet "<strong>FRIENDS</strong> have called" we are known by this name.
			</p>
		</div>
		<div class="col-md-4">
			{% include sections/contact-sidebar.html %}
			<hr class="vdivider sm">
			{% include sections/paypal-sidebar.html %}
			<hr class="vdivider sm">
			{% include sections/newsletter-sidebar.html %}
			<hr class="vdivider sm">
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<h3 class="text-bold">Emergence of ACN</h3>
			<p>
				Valentin Voth from Russia, the famous evangelist and missionary of Siberia and the Far East, went into eternity at the age of 50, he left his wife Catherine and nine children. Shortly after his death his brother Peter Voth visited the widow and asked how she was doing. The answer to the widow shook the brother:
			</p>
			<blockquote>
				"When Valentin was still alive, rang very often the phone. Whether day or night - friends from around the world phoned to tell him that she, praying his family and his work for him. Especially during the time of his illness, we constantly had visitors. But now that my husband is gone, I feel that we will forget."
			</blockquote>
			<p>
				This answer was the brother of the missionary no peace, his heart was deeply touched. He wondered how it then must go to the many widows in other countries of the world - such widows who live in poor countries and get little or no support from the state ?! This concern was brought in prayer with fasting before God. After that several friends got together to think about how to put this concern into action. Shortly after the first ride was with a small van (four) towards Moldova made. The visit was a young widow, who had remained alone at the age of 36 years with their six young children. A washing machine, Christmas parcels, clothing, food parcels - the visit delighted the troubled heart of the widow!
			</p>
			<p>
				God blessed this ministry plentiful. Work among the widows and orphans has grown a lot in recent years. It was like Moldova, Ukraine, Russia, Belarus and Kazakhstan, performed widow meeting annually in several countries. In 2016 more than 1,000 widows made in such widow meetings to attend. The widows are pleased and grateful for the comfort and loving attention being shown them.
			</p>
			<p>
				At the same time for the summer camps orphans and half-orphans in the countries Moldova and Ukraine organized and conducted.
			</p>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img class="img-rounded" src="http://placehold.it/360x360/e8e8e8/fafafa" alt="...">
				<div class="caption">
					<h4>Name Surname</h4>
					<p>Some info</p>
				</div>
			</div>
		</div>
	</div>

	<hr class="vdivider sm">
</div>


<div class="container-fluid headline">
<hr class="vdivider sm">
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<p class="lead">
			Because I delivered the <span class="text-bold">afflicted</span> that cried for help,
			<br>
				and  the <span class="text-bold">orphan</span> , that was abandoned by all.
				<br>
				The <span class="text-bold">dying</span> I was at, he wished me a blessing;
				<br>
				the <span class="text-bold">widow</span> I helped, and she could sing happy again.
		</p>
		<p>
			Job 29: 12-13
		</p>
	</div>
<hr class="vdivider sm">
</div>


<div class="container">
	<hr class="vdivider sm">
	<div class="row content">

		<div class="col-sm-6">
			<h3 class="text-bold">
				{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
					Our Programs
				{% else %}
					Наши программы
				{% endif %}
			</h3>

			<ul>
				<li>Вдовы</li>
				<li>Сироты</li>
				<li>Больные</li>
				<li>Евангелизация</li>
				<li>Благотворительность</li>
				<li>Гуманитарная помощь</li>
				<li>Христианские мученики</li>
			</ul>
			<a href="{{ site.url }}/our-programs" class="btn btn-primary">
			 {% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
					Learn more about AIDCIM programs
				{% else %}
					Узнать больше о программах AIDCIM
				{% endif %}

			</a>
		</div>
		<div class="col-sm-6">
			<h3 class="text-bold">
				{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
					Our Goals
				{% else %}
					Наши цели
				{% endif %}
			</h3>

			<div class="col-sm-12">
				<ul>
					<li>Project-related transmission of donation</li>
					<li>fastest possible help in urgent need</li>
					<li>Teaching the helpers to needy</li>
					<li>Possible personal delivery of assistance</li>
					<li>Cost effective and rigorous management</li>
					<li>Helping people help themselves whenever possible</li>
					<li>Encourage siblings to helpfulness</li>
				</ul>
			</div>

		</div>
	</div>
	<hr class="vdivider sm">
</div>

<div class="container-fluid headline">
	<hr class="vdivider sm">
	<div class="row text-center">
		<div class="col-sm-4">
			<p class="text-bold">
				since
				<span class="digit-lg">10</span> years
			</p>
		</div>
		<div class="col-sm-4">
			<p class="text-bold">
				that
				<span class="digit-lg">970</span> projects
			</p>
		</div>
		<div class="col-sm-4">
			<p class="text-bold">
				in
				<span class="digit-lg">12</span> countries
			</p>
		</div>
	</div>
	<hr class="vdivider sm">
</div>
