---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Main page

---

<!--Nav Start-->
{% include nav-desktop.html %}
<!--Nav End-->

<!--First section start-->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
       <hr class="vdivider sm">
        <h2 class="text-reg"><span class="text-bold">CONNECTING PEOPLE</span>, WHO WANT TO HELP WITH PEOPLE <span class="text-bold">WHO NEED HELP</span>.</h2>
        <p class="lead">
          Aid Christian Ministry (AIDCIM) strives to be an honest, efficient channel enabling the church to minister to physical and spiritual needs around the world. Our main purpose is to glorify God and help enlarge His kingdom.
        </p>
        <a href="{{ site.url }}/about-us" class="btn btn-primary">Learn more about AIDCIM</a>
        <hr class="vdivider sm">
      </div>
      {% assign current-projects = site.current-projects | sort: 'date' %}
      {% for project in current-projects reversed limit: "1" %}
      <div class="col-md-6">
        <hr class="vdivider sm">
        <a href="{{ site.url }}{{ project.url }}" class="link">
          <img class="img-responsive" src="{{ site.url }}{{ project.img }}" alt="">
          <div class="caption">
            <h3 class="text-bold">{{ project.project-title }}</h3>
            <p class="lead text-reg">
             {% if project.project-intro%}
              {{ project.project-intro }}
              {% endif %} <br>
            <u>Learn more . . .</u>
            </p>
          </div>
        </a>
        <hr class="vdivider sm">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!--First section end-->

<!--Second section start-->
<div class="container-fluid headline">
  <hr class="vdivider">
  <div class="text-center">
    <h2 class="text-bold">Recent News Posts</h2>
    <p class="lead">Urgent needs and program updates</p>
  </div>
  <hr class="vdivider">
<div class="container" id="our-projects">
	<div class="row">
		{% assign current-projects = site.current-projects | sort: 'date' %}
		{% for project in current-projects reversed limit: "4" offset: 1 %}

		<div class="col-sm-3">
		  <div class="thumbnail">
		    <div class="thumb-img" style="background-image: url('{{ site.url }}{{ project.img }}')">
		    </div>
		    <div class="caption">
		      <h3 class="text-divider">{{ project.project-title }}</h3>
		      <strong class="bg-info">{{ project.date | date: '%m/%d/%Y' }} </strong>
		      {% if project.project-intro%}
		      <p class="">{{ project.project-intro }}</p>
		      {% endif %}
		      <p>{{ project.excerpt }}</p>
		      <a href="{{ site.url }}{{ project.url }}" type="button" class="btn btn-info">
		        Read more
		      </a>

		    </div>
		  </div>
		</div>

		{% endfor %}
	</div>
</div>
<hr class="vdivider">
</div>
<!--Second section end-->



<!--Fourth section start-->
<div class="container-fluid">
  <h2 class="text-center text-bold">Would you like to help someone in need?</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 content">
        <figure>
        <img class="img-responsive" src="{{ site.url }}/img/hand.jpeg" alt="">
          <figcaption>
            <h3>Where-Needed-Most</h3>
            <p>The <strong>Where-Needed-Most</strong> (WNM) program is our general support category. Funds specified for <strong>Where-Needed-Most</strong> are used in AIDCIM aid programs and for general administration and fundraising expenses. This is a great category for those who wish to give, but are not sure which programs to support.</p>
          </figcaption>
        </figure>
        <a href="{{ site.url }}/our-programs" class="btn btn-link btn-lg"><u>Explore Our Other Programs</u></a>
        <hr class="vdivider">
      </div>
      <div class="col-sm-6 headline">
       <hr class="vdivider">
        {% include paypal/two-row-donation.html %}
        <hr class="vdivider">
      </div>
    </div>
  </div>
</div>
<!--Fourth section end-->

<!--Contact Form Start-->
{% include form/form-subscribe-new.html %}
<!--Contact Form End-->

<!--Newsletter signup form Start-->
{% include form/form-signup-news.html %}
<!--Newsletter signup form End-->


