<section class="bg-info col-lg-12">
	<hr class="vdivider sm">

	<h3 class="text-reg">
		{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %} Contacts {% else %} Контакты {% endif %}:
	</h3>
	<p>
		<i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>&nbsp;
		<strong>
			{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %} {{ site.address.contact.en }} {% else %} {{ site.address.contact.ru }} {% endif %}
		</strong>
		<br>

		<a href="tel:+{{ site.address.phone}}">{{ site.address.phone}}</a>
		<br>
		<a href="mailto:{{ site.address.email }}">E-mail: {{ site.address.email }}</a>
	</p>
	<hr class="vdivider sm">
</section>
