<section class="bg-primary col-lg-12">
	<hr class="vdivider sm">

	<h3 class="">
		{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}Want to subscribe for our updates by Email {% else %} Хотите получать обновления по электроной почте {% endif %}?
	</h3>
	<form action="//aidcim.us16.list-manage.com/subscribe/post?u=1704fcb8fba5f1d98860cf29b&amp;id=47ca235288" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div class="form-group">
			<label for="mce-FNAME">
			{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
		First Name {% else %} Имя {% endif %}:
			</label>
			<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
		</div>
		<div class="form-group">
			<label for="mce-LNAME">
			{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
			Last Name{% else %}Фамилия{% endif %}:
			</label>
			<input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
		</div>

		<div class="form-group">
			<label for="mce-EMAIL">
			{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
			Email{% else %}E-mail{% endif %}:
			</label>
			<input type="email" class="form-control" id="mce-EMAIL" placeholder="jane.doe@example.com" name="EMAIL" required>
		</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1704fcb8fba5f1d98860cf29b_47ca235288" tabindex="-1" value=""></div>
		<button type="submit" id="mc-embedded-subscribe" class="btn btn-default">
		{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
			Signup {% else %} Подписаться {% endif %}
		</button>
	</form>
	<hr class="vdivider sm">

</section>
