<div class="container-fluid headline">
	<div class="container">
		<h2 class="text-bold">{{ page.heading }}</h2>
		{% if page.heading_lead %}
		<p class="lead text-reg">{{ page.heading_lead}}</p>
		{% endif %}
	</div>
</div>
