<div class="pagnation">
	{% if paginator.previous_page %}
	<a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous pull-left"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>&nbsp;
	{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
					Older posts
				{% else %}
					Старые записи
				{% endif %}</a>
	{% else %}
	<span class="previous pull-left"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>&nbsp;
	{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
					Older posts
				{% else %}
					Старые записи
				{% endif %}</span>
	{% endif %}
	<span class="page_number"> | Page: <span class="badge">{{ paginator.page }}</span> of {{ paginator.total_pages }} | </span>
	{% if paginator.next_page %}
	<a href="{{ site.url }}{{ paginator.next_page_path }}" class="next pull-right">
	{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
					Newer posts
				{% else %}
					Новые записи
				{% endif %} &nbsp;<i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></a>
	{% else %}
	<span class="next pull-right">
	{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
					Newer posts
				{% else %}
					Новые записи
				{% endif %} &nbsp;<i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></span>
	{% endif %}
</div>
