---
#Layout
layout: project-ru

#Category
category: ophrans

#Title
title: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, in.

#Description
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, mollitia.

img: /img/projects/Hausbrand-in-Tomsk-1.jpg

project-title: "Пожар в Томске"
project-location: Россия
project-intro:

---


<p><strong>Россия:</strong> Мама здесь идет дым, «раздался голос из питомника. Мать сразу же побежала туда. Когда она открыла дверь, вспыхнул пожар. Черный дым и поднимающееся пламя было распространено по всему дому в мерцании. Мать кричала на детей и испробовали все из горящего дома , чтобы сэкономить. Скоро весь чердак был в огне. Отдел пожарной охраны был немедленно встревожен. В этих паниках в первом никто не заметил , что маленький 5-летний Вальдемар отсутствует. Отец побежал обратно в дом, но это было уже слишком поздно , чтобы быть кричал маленький Waldemar не ответил. Сильные пары от горящего пластика заблокировали вход на чердак. Нет один - не даже сейчас пришли пожарники - не мог спасти маленького мальчика из горящего дома.
</p>
<!--more-->
<p>
	<blockquote>
	Страдания семьи Busaev очень велико. Все горько плакали. Весь дом был разрушен огнем и противопожарной водой. Родители, Александр и Наталья, оба сироты и не имеют родственников. Пожалуйста, молитесь за них серьезно пострадавших семьи. Пусть Бог двигаться наши сердца, чтобы помочь им в час нужды.
	</blockquote>
</p>
<hr>
<h3>Добавление от 05/12/2017:</h3>
<p>
	Благодаря большому количеству доноров и волонтеров дома (фотографии с.) В настоящее время реконструировано для семьи. Они благодарят тепло.
</p>


