<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ site.url }}/css/main.css">
	<link rel="shortcut icon" href="{{ site.url }}/favicon.ico" />
		<link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css">

	<title>{% if page.title-ru %} {{ page.title-ru }} {% elsif site.title-ru %} {{ site.title-ru }} {% endif %}</title>
</head>
