<header>
	<div class="gradient">

	{% include nav-desktop-ru.html %}

	<!--header section start-->
		<div class="container-fluid">

			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-4 valign">

						<h1 class="text-uppercase text-divider text-bold">{{ site.data.main_page.h1-ru }}</h1>
						<p class="lead">{{ site.data.main_page.p_lead-ru }}</p>
						<hr class="vdivider sm">
						<blockquote>
							<p>"{{ site.data.main_page.p-ru }}"</p>
						</blockquote>
						<hr class="vdivider sm">
						<p>
							<a href="{{ site.data.main_page.btn1_link-ru }}" class="btn btn-info btn">
								<i class="fa fa-chevron-down" aria-hidden="true"></i>&nbsp;{{ site.data.main_page.btn1_text-ru }}
							</a>
							<a href="{{ site.data.main_page.btn2_link-ru }}" class="btn btn-warning btn">
								{{ site.data.main_page.btn2_text-ru }}
							</a>
						</p>

					</div>
				</div>
			</div>
		</div>
	<!--header section end--></div>
</header>
