<div class="jumbotron">
	<div class="container">
		<h1>Hello, world!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum optio doloremque facilis quisquam magnam rerum enim atque obcaecati consequatur veniam.</p>
		<p><a class="btn btn-default btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>
