<!--Third section start-->
<div class="container-fluid headline">
  <hr class="vdivider">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <h2 class="text-bold">Your support is making a difference!</h2>
    <p class="lead">Your generosity touches lives around the world. More than 14 million* people were helped with aid, literature, and teaching last year.</p>
  </div>
  <hr class="vdivider">
  <div class="row">
    <div class="col-sm-8">
      <img class="img-responsive" src="{{ site.url }}/img/aidcim-map.png" alt="">
    </div>
    <div class="col-sm-4 sidebar">
           <hr class="vdivider">
      <h3>Each year generous supporters make it possible for AIDCIM to:</h3>
      <ul>
        <li>Distribute food, clothing, medicines, and seeds, mostly to needy orphans and Christian families.</li>
        <li>Reach out to people in material poverty and help them provide for themselves through self-help resources.</li>
        <li>Reach out to people in material poverty and help them provide for themselves through self-help resources.</li>
        <li>Coordinate volunteers to clean up and rebuild for survivors of natural disasters in the USA.</li>
        <li>Help victims of war, famine, and crisis situations abroad.</li>
        <li>Install Gospel billboards along America’s major highways.</li>
        <li>Support church planting efforts in Romania, Haiti, and Liberia.</li>
        <li>Operate medical clinics in Haiti and Nicaragua.</li>
      </ul>
      <hr class="vdivider">
      <a href="#" class="btn btn-danger">Download Annual report (11Mb)</a>
      <hr class="vdivider">
    </div>
  </div>
</div>
<!--Third section end-->
