---
layout: default-ru

description: Aid Christian International Ministry · Веб сайт | Проекты Деятельность Контакты

title-ru: Aid Christian International Ministry · Главная страница

---

<!--Nav Start-->
{% include nav-desktop-ru.html %}
<!--Nav End-->


<!--First section start-->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
       <hr class="vdivider sm">
        <h2 class="text-reg"><span class="text-bold">Наша главная задача</span> , обеспечивать надёжный и эффективный канал для церквей и индивидуалов желающих <span class="text-bold">помогать нуждающимся</span>.</h2>
        <p class="lead">
          «Итак доколе есть время, будем делать добро всем, а наипаче своим по вере». (Гал 6:10).
        </p>
        <a href="{{ site.url }}/ru/about-us" class="btn btn-primary">Узнать больше о AIDCIM</a>
        <hr class="vdivider sm">
      </div>
      {% assign current-projects = site.current-projects-ru | sort: 'date' %}
      {% for project in current-projects reversed limit: "1" %}
      <div class="col-md-6">
        <hr class="vdivider sm">
        <a href="{{ site.url }}{{ project.url }}" class="link">
          <img class="img-responsive" src="{{ site.url }}{{ project.img }}" alt="">
          <div class="caption">
            <h3 class="text-bold">{{ project.project-title }}</h3>
            <p class="lead text-reg">
             {% if project.project-intro%}
              {{ project.project-intro }}
              {% endif %} <br>
            <u>Узнать больше . . .</u>
            </p>
          </div>
        </a>
        <hr class="vdivider sm">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!--First section end-->

<!--Second section start-->
<div class="container-fluid headline">
  <hr class="vdivider">
  <div class="text-center">
    <h2 class="text-bold">Недавние посты</h2>
    <p class="lead">Срочные нужды и обновления записей</p>
  </div>
  <hr class="vdivider">
<div class="container" id="our-projects">
	<div class="row">
		{% assign current-projects = site.current-projects-ru | sort: 'date' %}
		{% for project in current-projects reversed limit: "4" offset: 1 %}

		<div class="col-sm-3">
		  <div class="thumbnail">
		    <div class="thumb-img" style="background-image: url('{{ site.url }}{{ project.img }}')">
		    </div>
		    <div class="caption">
		      <h3 class="text-divider">{{ project.project-title }}</h3>
		      <strong class="bg-info">{{ project.date | date: '%m/%d/%Y' }} </strong>
		      {% if project.project-intro%}
		      <p class="">{{ project.project-intro }}</p>
		      {% endif %}
		      <p>{{ project.excerpt }}</p>
		      <a href="{{ site.url }}{{ project.url }}" type="button" class="btn btn-info">
		        Читать далее
		      </a>

		    </div>
		  </div>
		</div>

		{% endfor %}
	</div>
</div>
<hr class="vdivider">
</div>
<!--Second section end-->



<!--Fourth section start-->
<div class="container-fluid">
  <h2 class="text-center text-bold">Хотите помочь нуждающимся?</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 content">
        <figure>
        <img class="img-responsive" src="{{ site.url }}/img/hand.jpeg" alt="">
          <figcaption>
            <h3>Где важнее</h3>
              <p> Этот фонд используется для срочных нужд, административных расходов и фондрейзинга. Также этот фонд удобен для тех, кто желает пожертвовать, но ещё не определился какие программы поддерживать.</p>
          </figcaption>
        </figure>
        <a href="{{ site.url }}/ru/our-programs" class="btn btn-link btn-lg"><u>Узнайте о программах AIDCIM</u></a>
        <hr class="vdivider">
      </div>
      <div class="col-sm-6 headline">
       <hr class="vdivider">
        {% include paypal/two-row-donation.html %}
        <hr class="vdivider">
      </div>
    </div>
  </div>
</div>
<!--Fourth section end-->

<!--Contact Form Start-->
{% include form/form-subscribe-new.html %}
<!--Contact Form End-->

<!--Newsletter signup form Start-->
{% include form/form-signup-news.html %}
<!--Newsletter signup form End-->
