---
layout: default-ru

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Новости

heading: Новости

heading_lead: Узнайте о последних проектах AIDCIM и о том, как наши 7 программ помогают нуждающимся. Новостные сообщения обновляются еженедельно.

paginate:
  collection: current-projects-ru
  per_page: 15
---

{% include nav-desktop-ru.html %}
{% include sections/page-heading.html %}

	<hr class="vdivider sm">
	<div class="container">

			{% assign current-projects-ru = site.current-projects-ru | sort: 'date' %}
				{% for project in current-projects-ru reversed %}

				<div class="row">
	<div class="thumbnail col-sm-4">
		<div class="thumb-img lg" style="background-image: url('{{ site.url }}{{ project.img }}')">
		</div>

	</div>
	<div class=" col-sm-8">
		<a href="{{ site.url }}{{ project.url }}" class="btn btn-link btn-lg">
							{{ project.project-title }}
						</a>
		<p class="info"><strong><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;{{ project.date | date: '%m-%d-%Y' }} &nbsp;| &nbsp;<i class="fa fa-globe" aria-hidden="true"></i> {{ project.project-location }}</strong></p>

		<p class="">{{ project.excerpt }}</p>
		<hr>
	</div>
</div>
				{% endfor %}

		</div>
<div class="container-fluid text-center bg-info">
		<div class="container">
			<div class="col-sm-12 text-center">{% include sections/pagination.html %}</div>
		</div>
	</div>
