---
layout: default-ru

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Наши программы

heading: Наши программы

heading_lead: «Aid Christian Ministry» предлагает разнообразные программы для удовлетворения различных потребностей во всем мире. Предоставляя продовольственные посылки, помощь в кризисных ситуациях, образование, Библию или бизнес-обучение, конечной целью всех наших программ является прославление Бога и дальнейшее Его Царство.

---

{% include nav-desktop-ru.html %}

{% include sections/page-heading.html %}


<hr class="vdivider sm">

<div class="container">
	<div class="row">
		{% assign our-programs = site.our-programs-ru | sort: 'order' %}
		{% for program in our-programs %}
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="text-reg"><a href="{{ site.url }}{{ program.url }}">{{ program.program-title }}</a></h3>
			</div>
			<div class="panel-body">
				<p>
					{{ program.content }}
				</p>
				<a href="{{ site.url }}{{ program.url }}" class="btn btn-primary">Больше информации о программе</a>

			</div>
		</div>
		{% endfor %}


	</div>
	<div class="row">
		{% include paypal/two-row-donation.html %}
	</div>
	<hr class="vdivider sm">

</div>
